:root{
    --primary-color: #ea6b1f;
    --secondary-color: #b04302;
}


span.icon{
    padding: 0rem 0.2rem;
    margin: 0rem;
    /* vertical-align: top; */
}

span.parameter{
    color:#437EB4;
    background-color: #eed;

    font-weight: 500;
    padding: 0.15rem 0.3rem;
    margin: 0rem;
    border-radius: .2rem;
}

span.parameter.secondary{
    color:rgb(113, 175, 105) ;
}

span.action{
    font-weight: 500;
    padding: 0.15rem 0.3rem;
    margin: 0rem;
    border-radius: .2rem;
}

span.action.primary{
    color:white;
    background-color: var(--primary-color);
}

span.action.red-danger{
    color:white;
    background-color: #e60000;
}

span.action.secondary{
    color: var(--secondary-color);
    background-color: #00000000;
    border:1px var(--secondary-color) solid;
}

span.highlight{
    color:black;
    background-color: orange;

    font-weight: 800;
    padding: 0.15rem 0.15rem;
    margin: 0rem;
    border-radius: .2rem;
}

}

a.highlight{
    color:black;
    background-color: orange;

    font-weight: 800;
    padding: 0.15rem 0.15rem;
    margin: 0rem;
    border-radius: .2rem;
    cursor: default;
    a.parameter::hover{
        color:black;
    }
}

div.logo-div{
    display: flex;
    justify-content: center;
    img{
        width: 15rem;
    }
}

div.img{
    display: flex;
    justify-content: center;
    img{
        width: 60%;
    }
}
